body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    margin: auto;
    min-height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontal */
    align-items: center;   
    background-color: #121212;
    color: #ffffff;
}
#info{
    text-align: center;
}
#rishi{
    border: 5px solid black;
    border-radius: 10px;
}
h1{
    margin-bottom: 8px;
}
p{
    margin-top: 0;
}
button {
    font-size: 1rem;
    padding: 10px;
    background-color: #6200ea;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 15px;
    width: 300px;
}

button:hover {
  background-color: #3700b3;
  transform:translateY(-3px);
    box-shadow:0 10px 25px rgba(128,0,255,.4);
}

.backBtns {
    text-align: left;
    cursor: pointer;
    width: fit-content;
    font-size: 18px;
}

.backBtns:hover {
    text-decoration: solid;
}
#skills-container{
    width: 700px;
}
#skills-grid{
    
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 20px;
}

#projects-container{
    width: 700px;
}
#project-btns {
    padding: 20px;
    text-align: center;
}
#project-btns button{
    padding: 20px;
    text-align: center;
}

#projectDisplay h1{
    text-align: center;
}

#education-container h1{
    text-align: center;
}

.hidden{
    display: none;
}